<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>
    <h1><%= user.username %></h1>
    <a href="/foods/new">Add a New Food</a> 
    <ul>
      <% foodItems.forEach(foodItem => { %>
          <% if (user && foodItem.user_id && foodItem.user_id._id.equals(user._id)) { %> 
            <li>
                  <h2><%= foodItem.name %></h2>
                  <p><strong>Expiration Date:</strong> <%= new Date(foodItem.expiration_date).toLocaleDateString() %></p>
                  <p><strong>Pickup Location:</strong> <%= foodItem.location %></p>
                  <p><strong>Description:</strong> <%= foodItem.description %></p>
                  <form action="/foods/<%= foodItem._id %>?_method=DELETE" method="POST" style="display:inline;">
                      <button type="submit">Delete</button>
                  </form>
                  <form action="/foods/<%= foodItem._id %>/edit" method="GET" style="display:inline;">
                      <button type="submit">Edit</button>
                  </form>
                  <form action="/foods/<%= foodItem._id %>" method="GET" style="display:inline;">
                    <button type="submit">see the rating</button>
                </form>                  
              </li>
          <% } %>
      <% }) %>
    </ul>
</body>
</html>
