<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= foodItem.name %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Food Item Details</h1>
    
    <h2><%= foodItem.name %></h2>
    <p><strong>Expiration Date:</strong> <%= new Date(foodItem.expiration_date).toLocaleDateString() %></p>
    <p><strong>Pickup Location:</strong> <%= foodItem.location %></p>
    <p><strong>Description:</strong> <%= foodItem.description %></p>
    <p><strong>Shared By:</strong> <%= foodItem.user_id.username %></p> <!-- Assuming user_id is populated -->


    <a href="/foods">Back to Food List</a>
</body>
</html>
