<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />    
    <title><%= foodItem.name %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="show-page-container">
        <div class="show-info-container">
          <div class="show-header">
    
            <div class="show-details-container">   
            <h1>Food Sharing Details</h1>
            <h2><%= foodItem.name %></h2>
    
    <p><strong>Expiration Date:</strong> <%= new Date(foodItem.expiration_date).toLocaleDateString() %></p>
    <p><strong>Pickup Location:</strong> <%= foodItem.location %></p>
    <p><strong>Description:</strong> <%= foodItem.description %></p>
    <p><strong>Shared By:</strong> <%= foodItem.user_id.username %></p>

    <!-- Display average rating -->
    <p><strong>Average Rating:</strong> 
    <%= foodItem.ratings.length > 0 
    ? (foodItem.ratings.reduce((acc, r) =>
     acc + r.rating, 0) / foodItem.ratings.length).toFixed(1) 
         : 'No ratings yet' %>
    </p>

    <a href="/foods">Back To Food List</a>
</div>
</div>
</div>
</div>
</body>
</html>
